.controllbar {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

.controllbar .icon {
    display: flex;
    padding: 5px;
    border-radius: 100%;
    fill: #536471;
}

.controllbar .icon svg {
    width: 40px;
    height: 40px;
}

.controllbar .icon:hover,
.open .icon {
  cursor: pointer;
  fill: #1d9bf0;
  background-color: #1d9bf01a;
}

.controllbar .controlls {
    width: 50px;
    align-items: flex-start;
}


.controllbar .controllbarBox {
    position:absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }

  .controllbar :not(.open) .controllbarBox {
    display: none;
  }