
:root {  
  --light-gold-rgb: 249 181 51;
  --dark-gold-rgb: 215 147 23;
}

@keyframes pan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}


body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    font-family: Arial;
    font-size: 30px;
  }
  
.dayContainer,
.game,
.controllbar,
.title {
  z-index: 2;
}

  canvas {
    background-color: #e2d7dda1;
    display: block;
    margin: 0 auto;
    border-left: 1px solid #81678e;
    z-index: 2;
  }

  #star-container {
    overflow: hidden;
  }
  
  #star-pattern {
    background-image: url("https://assets.codepen.io/1468070/Star+Pattern+3.svg");
    background-color: #536471;
    background-size: 10%;  
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0%;
    z-index: 1;
    height: 100%;
    width: 100%;
    min-width: 1200px;
    opacity: 0.10;
    animation: pan 180s linear infinite;
    will-change: background-position;
  }
  
  #star-gradient-overlay {
    /* background: radial-gradient(circle, transparent 75%, rgb(var(--dark-gold-rgb))); */
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: 2;
  }
  
  .main {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr min-content 1100px 1fr;
    grid-template-rows: 40px 1fr 50px;
    grid-template-areas: 
    ". title title ."
    ". left game ."
    ". controllbar controllbar .";
  }

  .controllbar {
    grid-area: controllbar;
    border-top: 1px solid #81678e;
  }

  .title {
    grid-area: title;
    display: flex;
    justify-content: space-between;
    background-color: #ffffffa1;
  }

  .resources {
    display: none;
  }
  
  .leftFrame {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    grid-area: left;
  }

  .dayContainer {
    --gradientStart: #fff;
    --gradientEnd: #fff;
    --dayHeight: 0px;
    background-color: #e2d7dda1;
    display: flex;
    flex-direction: column-reverse;
  }

  .dayContainer > span {
    height: var(--dayHeight);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: end;
    padding-right: 5px;
    padding-left: 5px;
  }

  .dayContainer .date {
    width: var(--platformHeight);
    height: var(--platformHeight);
    background-color: #c69eda;
    color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.month {
  border-bottom: 5px #81678e dotted;
  width: 100%;
  margin-bottom: 5px;
  color: #81678e;
  text-align: center;
  text-transform: uppercase;
}

  .game {
    overflow: hidden;
    grid-area: game;
  }

  .game canvas {
    width: 100%;
    height: 100%;
  }